.thanks{
    display: flex;
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: Algeria;
    justify-content: center;
    font-size: 162px;
    font-weight: bolder;
  }

.page-background{
    background-color: black;

}

.page-text{
    margin: 2%;
    font-size: x-large;
    color: gold;

}

.btn{
    background-color: rgb(5, 102, 248);
    color: white;
    margin: 1%;
    
}

.btn:hover{
    background-color: blue;
    color: black;
}
